/*---   GENERAL    ---- */
a,
a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

li {
    list-style-type: none;
}

header {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    .logo {
        height: 60px;
        width: 250px;
    }
}
.dropdownMenu {
    display: none;
}

.hamburger {
    height: 45px;
}

.navigationHeader {
    display: flex;
    justify-content: center;
}

.navigationHeader nav ul li {
    width: 100%;
}

.navigationHeader nav ul li a {
    font-size: 1.6em;
}

input[type='checkbox']~.nav {
    display: none;
}

input[type='checkbox']:checked~nav {
    display: block;
}





@media screen and (min-width:940px) {
    /* ---   Header   --- */
    .hamburger {
        display: none;
    }
    /* Mettre le header en ligne*/
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navigationHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    input[type='checkbox']~.nav {
        display: block
    }
    input[type='checkbox']~.nav ul {
        display: flex;
        flex-direction: row;
    }
    .nav li a {
        margin: 30px;
    }
}